:root {
  --purple: #10031e;
  --purple2: #18042c;
  --purple3: #331940;
  --purple4: #750f9b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--purple);
}
