.addReminderPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 10%;
  padding: 20px;
}

.addReminderPage .top {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.addReminderPage .left {
  grid-column: 1/2;
  grid-row: 2/3;
}

.addReminderPage .right {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 20px;
}

.addReminderPage .right textarea {
  height: 1fr;
}

.addReminderPage .left select {
  background-color: transparent;
  border: 1px solid var(--purple4);
  padding: 10px;
  transition: 0.2s ease;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 2px;
  &:hover {
    background-color: var(--purple4);
  }
}

.addReminderPage .left select option {
  color: black;
  font-weight: bolder;
}

.addReminderPage .left select:hover option {
  background-color: white;
}

.addReminderPage .bottom {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
}

.addReminderPage .bottom a {
  border: 1px solid var(--purple4);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  transition: 0.2s ease;
  &:hover {
    background-color: var(--purple4);
  }
}

.addReminderPage .bottom button {
  margin: 0 auto;
  position: relative;
  left: -51px;
  background-color: var(--purple4);
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: boldr;
  font-size: 1rem;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: rgb(71, 29, 111);
  }
}
