.addReminderPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10% 1fr 10%;
  padding: 20px;
}

.addReminderPage .top {
  grid-column: 1/3;
  grid-row: 1/2;
  display: flex;
  justify-content: start;
  margin-bottom: 10px;
}

.addReminderPage .left {
  grid-column: 1/2;
  grid-row: 2/3;
}

.addReminderPage .right {
  grid-column: 2/3;
  grid-row: 2/3;
  padding-left: 20px;
}

.addReminderPage .right textarea {
  height: 1fr;
}

.addReminderPage .right select {
  background-color: transparent;
  border: 1px solid var(--purple4);
  padding: 10px;
}

.addReminderPage .right select option {
  color: black;
  font-weight: bolder;
}

.addReminderPage .bottom {
  grid-column: 1/3;
  grid-row: 3/4;
  display: flex;
  flex-direction: row;
}

.addReminderPage .bottom a {
  color: var(--purple4);
}
