.addServicePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 30%;
  gap: 15px;
  padding: 10px 20px;
}

.left {
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
}

.left input,
.right input,
textarea {
  background: transparent;
  border: 1px solid var(--purple4);
  padding: 10px 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  transition: 0.2s ease;
  &:hover {
    background-color: rgb(61, 36, 85);
  }
}

.left input[type="date"] {
  text-transform: uppercase;
}

.left input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}

.right {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 1rem;
  letter-spacing: 2px;
}

.right textarea,
.left textarea {
  height: 100%;
}

.left input:last-child {
  height: 100%;
}

.bottom {
  grid-column: 1/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.file {
  width: 50%;
  /*   */
}

label.receipt-label {
  display: block;
  margin-bottom: 10px;
}

.file-input {
  width: 100%;
  display: flex;
}

.file-input .select-file-btn {
  display: block;
  color: rgb(164, 162, 162);
  width: 80%;
  transition: 0.2s ease;
}

.file-input .select-file-btn:hover {
  background-color: rgb(71, 33, 107);
}

.file-input .upload-file-btn {
  display: block;
  width: 20%;
  cursor: pointer;
  background-color: var(--purple4);
  transition: 0.2s ease;
}

.file-input .upload-file-btn:hover {
  background-color: rgb(48, 22, 72);
}

.file-input .select-file-btn,
.file-input .upload-file-btn {
  height: fit-content;
  cursor: pointer;
  border: 1px solid var(--purple4);
  padding: 10px 20px;
}

.file-input input {
  display: none;
  position: absolute;
  z-index: -20;
}

.btn-back-submit {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px 0;
  position: relative;
}

.back-btn {
  display: inline-block;
  height: fit-content;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--purple4);
  padding: 10px 20px;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 20px;
  transition: 0.2s ease;
  &:hover {
    background-color: var(--purple4);
  }
}

.submit-btn {
  background-color: var(--purple4);
  border: none;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px 20px;
  font-size: 1rem;
  letter-spacing: 2px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s ease;
  cursor: pointer;
  &:hover {
    background-color: rgb(76, 35, 114);
  }
}
